In [3]:
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import os
from pathlib import Path
from dotenv import load_dotenv

In [4]:
load_dotenv()
map_box_api = "pk.eyJ1IjoiZGJ1ZGhyYW0iLCJhIjoiY2t5MHNrbHVlMDRhZjJ2b2RnaDAwc21mZiJ9.AC5JUWHEPzgWlVLMAL2qfQ"
px.set_mapbox_access_token(map_box_api)

In [5]:
file_path = Path("Data/sfo_neighborhoods_census_data.csv")
sfo_data = pd.read_csv(file_path, index_col="year")
sfo_data.head()

          neighborhood  sale_price_sqr_foot  housing_units  gross_rent
year
2010      Alamo Square           291.182945         372560        1239
2010        Anza Vista           267.932583         372560        1239
2010           Bayview           170.098665         372560        1239
2010  Buena Vista Park           347.394919         372560        1239
2010  Central Richmond           319.027623         372560        1239

In [6]:
file_path = Path("./Data/neighborhoods_coordinates.csv")
coordinates_df = pd.read_csv(file_path)
coordinates_df.head()

      Neighborhood        Lat         Lon
0     Alamo Square  37.791012 -122.402100
1       Anza Vista  37.779598 -122.443451
2          Bayview  37.734670 -122.401060
3  Bayview Heights  37.728740 -122.410980
4   Bernal Heights  37.728630 -122.443050

In [33]:
def neighborhood_map():
    """Neighborhood Map."""
map_plot = px.scatter_mapbox(
        combined_df,
        lat="Lat",
        lon="Lon",
        size="gross_rent",
        color="neighborhood",
        zoom=10
    )
return map_plot
pn.Row(neighborhood_map)

NameError: name 'combined_df' is not defined